body {
  background-color: #f7cfd8;
}

#main-body {
  position: relative;
  left: 50%;
  transform: translate(-50%, 35%);
  padding-bottom: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;

  aspect-ratio: 5 / 7;
  border-radius: 1rem;

  background-color: #a6d6d6;

  box-sizing: border-box;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.25rem;
  width: 18rem;
  aspect-ratio: 5 / 6;
}

#result-container {
  padding: 1rem 1rem;
  display: block;
  width: 100%;
  border-radius: 1.5rem;
  background-color: #fffcfb;
  font-size: 3rem;
  text-align: right;
  box-sizing: border-box;
  background-clip: content-box;

  span {
    padding-right: 0.5rem;
  }
}

.normal-size {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 50%;
  background-color: #fff2e0;
  font-size: 1.5rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.image-logo {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.multiply-logo {
  width: 50%;
}
